@model IEnumerable<EmilimaV2Web.Models.User>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>

<p>
    <a asp-action="Create" role="button" class="btn btn-success">Registrar</a>
</p>
    <table class="table" data-toggle="table" data-pagination="true" data-sort-order="asc" data-show-extended-pagination="true">
    <thead>
        <tr>
            <th data-field="Username" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th data-field="Password" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th data-field="Email" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th data-field="RoleId" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.RoleId)
            </th>
            <th data-field="PhotoId" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.PhotoId)
            </th>
            <th data-field="PositionId" data-sortable="true" class="px-2">
                @Html.DisplayNameFor(model => model.PositionId)
            </th>
            <th>Operaciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionId)
            </td>
            <td>
                <div class="d-flex justify-content-around align-items-stretch">
                    <a asp-action="Edit" asp-route-id="@item.Username"><i class="bi bi-pencil-fill text-warning"></i></a>
                    <a asp-action="Details" asp-route-id="@item.Username"><i class="bi bi-search"></i></a>
                    <a asp-action="Delete" asp-route-id="@item.Username"><i class="bi bi-trash-fill text-danger"></i></a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
