@using EmilimaV2Web.Models
@model IEnumerable<EmilimaV2Web.Models.Document>

@{
    ViewData["Title"] = "Lista";
}

<h1>Lista</h1>
<p>
    <a asp-action="Create" role="button" class="btn btn-success">Registrar</a>
</p>
<section class="documents-list container">
    <div class="row g-2" id="documents-list-grid">
        @foreach (Document document in Model) {
            <div class="col-lg-6 documents-list__item">
                <div class="bg-white card shadow-sm">
                    <div class="card-body">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-2">
                                <img src="~/img/icono-pdf.png" width="100%">
                            </div>
                            <div class="col-md-7">
                                <h2 class="card-title h4 documents-list__item__title">@(document.Name)</h2>
                                    <p class="card-text fw-light fst-italic">@(document.Description)</p>
                            </div>
                            <div class="col-md-3">
                                <div class="row align-items-center">
                                    <div class="col flex-column">
                                        <a asp-action="Edit" asp-route-id="@document.SerialNumber" style="color: black;">
                                            <i class="bi bi-pencil-fill documents-list__item__edit-button"
                                            style="font-size: 1.5rem;" data-bs-toggle="modal"
                                            data-bs-target="#edit-document-modal"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-id="@document.SerialNumber" style="color: black;">
                                            <i class="bi bi-x documents-list__item__delete-button" 
                                                style="font-size: 1.5rem;"></i>
                                        </a>
                                    </div>
                                    <div class="col">
                                        <a asp-action="DownloadPdf" asp-controller="Files" asp-route-fileName="@document.File.Filename" style="color: black;" download>
                                            <i class="bi bi-download documents-list__item__download-button"
                                                style="font-size: 2.5rem;"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>
